:root {
  --lt-orange: rgb(254,196,68)
  --dk-orange: rgb(248,175,34)
  --lt-green: rgb(49,252,188)
  --dk-green: rgb(27,230,173)
  --lt-gray: rgb(192,212,248)
  --dk-gray: rgb(167,198,246)
  --teal: rgb(35,203,255)
  --lt-pink: rgb(255,78,135)
  --dk-pink: rgb(248,47,117)
  --sunglow: #ffc857
  --ultra-violet: #4f4789
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
